/*food login form*/
.login{
    margin-top: 150px;
  }
  .login-container{
    margin: 0px auto;
    max-width: 900px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #ddd;
    height: 460px;
    width:750px;
    border-radius: 10px;
  }
  .login-container .columns{
    display: flex;
  }
  .columns .column-1{
    padding:30px;
  }
  .columns .column-1 .login-heading{
    text-align: center;
  }
  .columns .column-1 .login-heading h2{
   font-weight: 500;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px;
   text-shadow: 0 0 5px black;
  }
  .columns .column-1 .login-form{
    margin-top: 40px;
    
  }
  
  .column-1 .login-form form label{
    font-size: 20px;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
  }
  .column-1 .login-form form input{
    padding:10px 20px;
    width:410px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline:#ddd;
   
  }
  .column-1 .login-form form a{
  text-decoration: none;
  font-size: 16px;
  }
  .column-1 .login-form form button{
  margin-top: 30px;
  width:410px;
  padding:10px 20px;
  background-color: green;
  color:white;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  }
  .login-form form button:hover{
         background-color: rgb(68, 133, 68); 
  }
  .login-form form p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-top: 5px;
  }
  .login-form .google{
    padding:10px 20px;
    border: 2px solid green;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-left: 100px;
  }
  .login-form .google img{
    width:20px;
    height:20px;
    border-radius: 50px;
  }
  

  .login-form .google:hover{
    background-color: #ddd;
  }
  .column-2{
    padding:30px;
    background-color:#ddd;
    height:450px;
    border-radius: 5px;
  }
  .column-2 img{
    width:60px;
    height:55px;
    border-radius: 50%;
  }
  .column-2 h1{
    color:#2555A6;
    font-size: 30px;
  }
  .column-2 h1 span{
    color:green;
  }
  .column-2 p{
    margin-top: 10px;
    color:black;
    font-size: 22px;
  }
  .column-2 p span{
    color:yellow;
  }
  
